<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">New Review: <%= campground.name %></h1>
        <div class="container">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <label for="rating">Leave a rating:</label>
           <fieldset class="starability-basic">
  <legend>First rating:</legend>
  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="rating" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="rating" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="rating" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="rating" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="rating" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="comment[text]" placeholder="Write a comment for this campground..." rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit a Review</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
