<%- include("../partials/header") %>



	<header class="jumbotron">
		<div class="container-fluid container">
		<h1 class="display-4">
		Welcome to YelpCamp!
		</h1>
		<p>
			These are hand picked from across the world
		</p>
		<p>
			<button class="btn btn-primary btn-large">	
				<a href="/campgrounds/new">Add a new campground</a>
			</button>
		</p>
	</header>
	<div class="container">
		<div class="">
			<h3>
				Our most popular campsites!
			</h3>
	</div>	
</div>
	<% campgrounds.forEach(function(campground){ %>
			<div class="container py-2">
				<a href="/campgrounds/<%= campground._id %>" class="camp-link">
					<div class="card camp-link">
						<div class="card-body">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-md-3 col-sm-6">
										<h6 class="text-center">
											<strong><%= campground.name %></strong>
										</h6>
										<div class="thumbnail">
											<img src="<%= campground.image %>">
										</div>
									</div>
									<div class="col-md-9 col-sm-6">
										<div class="row justify-content-center">
											<p class="text-center">
											<%= campground.description %>	
											</p>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</a>	
			</div>
	<% }); %>


<p>
	<a href="/">Back to Landing Page</a>
</p>
</div>

<%- include("../partials/footer") %>

